.popup {

    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.2s;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    
    > .close-zone {
        z-index: 1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.65);
        display: table;
        opacity: 0;
        transition: all 400ms;
    }

    > .container {

        z-index: 2;
        backface-visibility: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        border-radius: 12px;
        overflow: hidden;
        box-shadow: 0 10px 20px 0 rgb(153 153 153 / 25%);
        transform: translateY(50px);
        transition: all 300ms;
        opacity: 0;
        width: 28%;
        min-width: 400px;

        > .box {

            background: #fff;
            filter: blur(0);
            overflow: hidden;

            &:before {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                width: 14px;
                height: 14px;
                border-radius: 50%;
                animation: popup-spinner 650ms infinite;
                opacity: 0.75;
                background: $main-color;
                z-index: 11;
            }
            
            > .title {

                position: relative;
                font-size: 14px;
                padding: 20px;
                padding-right: 60px;
                font-weight: 600;
                margin: 0 !important;
                color: rgba(0,0,0,.85);
                border-bottom: 1px solid rgba(0, 0, 0, 0.06);
                background: #fbfbfb;

                > .close-icon {

                    position: absolute;
                    top: 50%;
                    right: 3px;
                    transform: translateY(-50%);
                    width: 50px;
                    height: 50px;
                    background-image: svg('/assets/images/svg/close-round.svg');
                    background-position: 50%;
                    background-size: 40%;
                    background-repeat: no-repeat;
                    transition: all 250ms;

                    cursor: pointer;

                    &:before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translateY(-50%) translateX(-50%);
                        width: 80%;
                        height: 80%;
                        border-radius: 50%;
                        background-color: rgba($main-color, 0.1);
                        opacity: 0;
                        transition: all 250ms;
                    }

                    &:hover:before {
                        opacity: 1;
                    }

                    &:active {
                        opacity: 0.75;
                    }
                }
            }
            
            > .message {
                padding: 30px;
                font-size: 14px;
                line-height: 24px;
                color: rgb(55, 39, 63);
                overflow-y: auto;
            }
            
            > .content {
                
                position: relative;
                opacity: 0;
                transition: all 300ms;
                pointer-events: none;
                
                >:first-child {
                    max-height: calc(90vh - 170px);
                    overflow: hidden;
                    overflow-y: auto;
                }
            }

            > .buttons {

                background: #f2f2f2;
                padding: 14px;
                overflow: auto;
                position: sticky;
                bottom: 0;
                z-index: 999;
                border-top: 1px solid rgba(0, 0, 0, 0.06);

                > .cancel {
                    float: left;
                }
                
                > .valid {
                    float: right;
                }
            }
        }
    }

    &.small > .container {
        width: 20%;
        max-width: 350px;
    }

    &.smaller > .container {
        width: 15%;
        max-width: 280px;
    }

    &[data-content-loaded="1"] {

        > .container > .box {

            &:before {
                display: none;
            }

            > .content {
                opacity: 1;
                pointer-events: all;
            }
        }
    }

    &[data-on="1"] {
        opacity: 1;
    }

    &[data-displayed="1"] {

        > .close-zone {
            opacity: 1;
        }

        > .container {
            opacity: 1;
            transform: translateY(0);
        }
    }

    //======
    //LOCKED
    //======

    .content {

        &:before {
            content: "";
            position: absolute;
            pointer-events: none;
            opacity: 0;
            background: #fff;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 9991;
            transition: all 500ms;
        }

        /*
        &:after {  
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
            width: 14px;
            height: 14px;
            border-radius: 50%;
            animation: popup-spinner 650ms infinite;
            opacity: 0;
            background: $main-color;
            z-index: 9992;
            pointer-events: none;
        }*/
    }

    &[data-locked="1"] .content {

        &:before {
            opacity: 0.75;
            pointer-events: all;
        }

        /*
        &:after {
            opacity: 0.75;
            pointer-events: all;
        }*/
    }

    &.on-top-of-everything {

        > .close-zone {
            background: #ece7f7;
        }

        z-index: 99999999999;
    }
}

@keyframes popup-spinner {
    0% { transform: translateX(-50%) translateY(-50%) scale(0.5); }
    25% { transform: translateX(-50%) translateY(-50%) scale(1); }
    100% { transform: translateX(-50%) translateY(-50%) scale(0.5); }
}

@media only screen and (max-width: 1024px) {

    .popup > .container {
        max-width: unset;
        width: 88% !important;
        min-width: unset !important;
    }
}