$grey: rgb(223, 223, 223);
$green: rgb(25, 218, 67);
$red: rgb(255, 59, 59);
$redTransparent: rgb(255, 59, 59, 0.2);
$violet: rgb(181, 53, 255);
$orange: rgb(255, 174, 0);
$orangeTransparent: rgb(255, 174, 0, 0.2);

@keyframes blinker {
    50% {
      opacity: 0;
    }
}

#dev-tool {

    position: fixed;
    top: 100vh;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: 123456789;


    &:before {

        content: "";
        position: absolute;
        z-index: 1;
        top: -100vh;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #fff;
        opacity: 0;
        transition: all .3s;
        pointer-events: none;
    }

    .ui {

        position: absolute;
        z-index: 2;
        bottom: 0;
        right: 0;
        padding: 4px;
        background: transparent;
        font-weight: bold;
        font-family: sans-serif;
    
        > * {

            width: 20px;
            height: 20px;
            display: inline-block;
            vertical-align: middle;
            background: $grey;
            transform-origin: center;
            transition: all .15s ease-in-out;
            cursor: pointer;
            border: 1px solid rgba(0, 0, 0, 0.25);
            margin: 4px;
            border-radius: 5px;
            
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

//=============
//SOCKET STATUS
//=============
#dev-tool[data-socket-status="pending"] .socket-status {
    background: $grey;
}
#dev-tool[data-socket-status="opening"] .socket-status {
    background: $green;
    animation: blinker 0.2s linear infinite;
}
#dev-tool[data-socket-status="opened"] .socket-status {
    background: $green;
}
#dev-tool[data-socket-status="closed"] .socket-status {
    background: $red;
}

//====================
//TYPE CHECKING STATUS
//====================
#dev-tool[data-type-checking-status="on"] .type-checking-status {
    background: $green;
}
#dev-tool[data-type-checking-status="off"] .type-checking-status {
    background: $grey;
}

//===============
//BUNDLING SYSTEM
//===============
#dev-tool .bundling-system {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
}
#dev-tool[data-bundling-system="fast"] .bundling-system {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iMjU2cHgiIGhlaWdodD0iMjU2cHgiIHZpZXdCb3g9IjAgMCAyNTYgMjU2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHByZXNlcnZlQXNwZWN0UmF0aW89InhNaWRZTWlkIj4KICAgIDxnPgogICAgICAgIDxjaXJjbGUgZmlsbD0iI0ZGQ0YwMCIgY3g9IjEyOCIgY3k9IjEyOCIgcj0iMTI4Ij48L2NpcmNsZT4KICAgICAgICA8cGF0aCBkPSJNNjkuMjg1MjgxNCw1OC43MTQ3MTg2IEwxMzguNTcwNTYzLDEyOCBMNjkuMjg1MjgxNCwxOTcuMjg1MjgxIEw1Mi4zMTQ3MTg2LDE4MC4zMTQ3MTkgTDEwNC42MjksMTI4IEw1Mi4zMTQ3MTg2LDc1LjY4NTI4MTQgTDY5LjI4NTI4MTQsNTguNzE0NzE4NiBaIE0xNDYuMDg1MjgxLDU4LjcxNDcxODYgTDIxNS4zNzA1NjMsMTI4IEwxNDYuMDg1MjgxLDE5Ny4yODUyODEgTDEyOS4xMTQ3MTksMTgwLjMxNDcxOSBMMTgxLjQyOSwxMjggTDEyOS4xMTQ3MTksNzUuNjg1MjgxNCBMMTQ2LjA4NTI4MSw1OC43MTQ3MTg2IFoiIGZpbGw9IiMxOTE5MTkiPjwvcGF0aD4KICAgIDwvZz4KPC9zdmc+');
    background-color: #ffcf01;
}
#dev-tool[data-bundling-system="sourcemap"] .bundling-system {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz4KPHN2ZyB3aWR0aD0iNDhweCIgaGVpZ2h0PSI0OHB4IiB2aWV3Qm94PSIwIDAgNDggNDgiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8IS0tIFVwbG9hZGVkIHRvIFNWR1JlcG8gaHR0cHM6Ly93d3cuc3ZncmVwby5jb20gLS0+CiAgICA8dGl0bGU+YnVnPC90aXRsZT4KICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPgogICAgPGcgaWQ9ImJ1ZyIgc3Ryb2tlPSJub25lIiBzdHJva2Utd2lkdGg9IjEiIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+CiAgICAgICAgPHJlY3Qgd2lkdGg9IjQ4IiBoZWlnaHQ9IjQ4IiBmaWxsPSJ3aGl0ZSIgZmlsbC1vcGFjaXR5PSIwLjAxIi8+CiAgICAgICAgPGcgaWQ9Iue8lue7hCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNC4wMDAwMDAsIDQuMDAwMDAwKSIgc3Ryb2tlLXdpZHRoPSI0Ij4KICAgICAgICAgICAgPHBhdGggZD0iTTIwLDM4IEMzMiwzOCAzNCwyNy41MzIzNjMzIDM0LDI0IEMzNCwyMC44Mzc4NjIgMzQsMTYuMTcxMTk1MyAzNCwxMCBMNiwxMCBDNiwxMy40NDIyOTYgNiwxOC4xMDg5NjI3IDYsMjQgQzYsMjcuNDUwNTk2IDgsMzggMjAsMzggWiIgaWQ9Ik92YWwiIHN0cm9rZT0iIzAwMDAwMCIgZmlsbD0iIzJGODhGRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zLjU1MjcxMzY4ZS0xNSw0IEw2LDEwIiBpZD0iUGF0aC0zMjEiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik00MCw0IEwzNCwxMCIgaWQ9IlBhdGgtMzIyIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PC9wYXRoPgogICAgICAgICAgICA8cGF0aCBkPSJNMCwyMyBMNiwyMyIgaWQ9IlBhdGgtMzIzIiBzdHJva2U9IiMwMDAwMDAiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PC9wYXRoPgogICAgICAgICAgICA8cGF0aCBkPSJNNDAsMjMgTDM0LDIzIiBpZD0iUGF0aC0zMjQiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zLDQwIEw5LDM0IiBpZD0iUGF0aC0zMjUiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0zNyw0MCBMMzEsMzQiIGlkPSJQYXRoLTMyNiIgc3Ryb2tlPSIjMDAwMDAwIiBzdHJva2UtbGluZWNhcD0icm91bmQiPjwvcGF0aD4KICAgICAgICAgICAgPHBhdGggZD0iTTIwLDM4IEwyMCwxMCIgaWQ9IlBhdGgtMzI3IiBzdHJva2U9IiNGRkZGRkYiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCI+PC9wYXRoPgogICAgICAgICAgICA8cGF0aCBkPSJNMTAuOTIwNDc1LDM1LjA0MDg5NjUgQzEzLjAwMjQ2NCwzNi43ODMxODI4IDE1LjkyNDUwODgsMzggMjAsMzggTDIwLDM4IEMyNC4xMTEyNTM0LDM4IDI3LjA0ODcyODcsMzYuNzcxMzMxNyAyOS4xMzQxMzkyLDM1LjAxMzgzODYiIGlkPSLot6/lvoQiIHN0cm9rZT0iIzAwMDAwMCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIj48L3BhdGg+CiAgICAgICAgICAgIDxwYXRoIGQ9Ik0yOCw4LjMzMzMzMzMzIEMyOCwzLjczMDk2MDQyIDI0LjQxODI3OCwwIDIwLDAgQzE1LjU4MTcyMiwwIDEyLDMuNzMwOTYwNDIgMTIsOC4zMzMzMzMzMyBMMTIsMTAgTDI4LDEwIEwyOCw4LjMzMzMzMzMzIFoiIGlkPSJPdmFsLTIiIHN0cm9rZT0iIzAwMDAwMCIgZmlsbD0iIzJGODhGRiIgZmlsbC1ydWxlPSJub256ZXJvIj48L3BhdGg+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K');
    background-color: #cbe1ff;
    background-size: 90%;
}
#dev-tool[data-bundling-system="production"] .bundling-system {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iaXNvLTg4NTktMSI/Pg0KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDE5LjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPg0KPHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCINCgkgdmlld0JveD0iMCAwIDUxMiA1MTIiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDUxMiA1MTI7IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIHN0eWxlPSJmaWxsOiNGRkE3MzM7IiBkPSJNNDY5LjE4NCwxMTkuNDgyTDM2OC43Nyw2MS41MDhjLTAuMDcxLTAuMDQyLTAuMTQ2LTAuMDc4LTAuMjE3LTAuMTE5DQoJYy0wLjA1LTAuMDI5LTAuMDk2LTAuMDYyLTAuMTQ2LTAuMDlMMjY3LjYzNiwzLjExOWMtNy4yMDEtNC4xNTgtMTYuMDcyLTQuMTU4LTIzLjI3MywwTDQyLjgxNiwxMTkuNDgyDQoJYy03LjIwMSw0LjE1Ny0xMS42MzYsMTEuODQtMTEuNjM2LDIwLjE1NHYyMzIuNzI3YzAsOC4zMTUsNC40MzYsMTUuOTk4LDExLjYzNiwyMC4xNTRsMjAxLjU0OCwxMTYuMzY0DQoJYzMuNiwyLjA3OSw3LjYxOCwzLjExOSwxMS42MzYsMy4xMTljNC4wMTgsMCw4LjAzNy0xLjA0LDExLjYzNi0zLjExOWwyMDEuNTQ4LTExNi4zNjRjNy4yMDEtNC4xNTcsMTEuNjM2LTExLjg0LDExLjYzNi0yMC4xNTQNCglWMTM5LjYzNkM0ODAuODIxLDEzMS4zMjIsNDc2LjM4NSwxMjMuNjM5LDQ2OS4xODQsMTE5LjQ4MnoiLz4NCjxwYXRoIHN0eWxlPSJmaWxsOiNGRjYyNDM7IiBkPSJNMzY1LjQ0NCw1OS44NTZjLTEuNzM1LTAuNjk3LTMuNTMzLTEuMTc2LTUuMzU2LTEuNDM4Yy00LjQ5Ni0wLjY1LTkuMjA4LDAuMDA2LTEzLjUzNSwyLjEyNw0KCWMtMC40NzksMC4yMzQtMC45NTEsMC40ODYtMS40MTcsMC43NTRMMzMzLjUsNjguMDE3bC04OS4xMzgsNTEuNDY0Yy0wLjAxNCwwLjAwOC0wLjAzMSwwLjAxNy0wLjA0MywwLjAyNWwtNDkuMzI0LDI4LjQ3OA0KCWwtNC40OTksMi41OTlsLTM0LjE2LDE5LjcyMWwtMS4xMTEsMC42NDFsMjMuMjczLDEzLjQzNmwyMy4yNzMsMTMuNDM2bDIyLjEyMSwxMi43NzJMMjU2LDIyOS4xMjhsMzguNzUyLTIyLjM3M0w0MzQuMjc3LDEyNi4yDQoJbDExLjYzNi02LjcxOGM3LjIwMS00LjE1OCwxNi4wNzItNC4xNTgsMjMuMjczLDBMMzY4Ljc3Miw2MS41MDhjLTAuMDcxLTAuMDQyLTAuMTQ2LTAuMDc4LTAuMjE3LTAuMTE5DQoJYy0wLjk5OC0wLjU4My0yLjAyOC0xLjA5OC0zLjA5Mi0xLjUyNUMzNjUuNDU2LDU5Ljg2MSwzNjUuNDUsNTkuODU5LDM2NS40NDQsNTkuODU2eiIvPg0KPHBhdGggc3R5bGU9ImZpbGw6I0ZGNzk1NjsiIGQ9Ik0yNzkuMjczLDQ4OC43Mjd2LTEzLjQzNnYtMjYuODcyVjI2OS40MzZWMjU2YzAtNC4xNTctMS4xMDktOC4xNTYtMy4xMTktMTEuNjM2DQoJYy0yLjAwOS0zLjQ4LTQuOTE4LTYuNDM5LTguNTE4LTguNTE4TDI1NiwyMjkuMTI4bC0zMi4xMDktMTguNTM5bC0yMi4xMjEtMTIuNzcybC0yMy4yNzMtMTMuNDM2bC0yMy4yNzMtMTMuNDM2bC0yOC40NS0xNi40MjYNCglMNzcuNzI1LDEyNi4ybC0xMS42MzYtNi43MThjLTcuMjAxLTQuMTU4LTE2LjA3Mi00LjE1OC0yMy4yNzMsMGMtNy4yMDEsNC4xNTctMTEuNjM2LDExLjg0LTExLjYzNiwyMC4xNTR2MjMyLjcyNw0KCWMwLDguMzE1LDQuNDM2LDE1Ljk5OCwxMS42MzYsMjAuMTU0bDIwMS41NDgsMTE2LjM2NGMzLjYsMi4wNzksNy42MTgsMy4xMTksMTEuNjM2LDMuMTE5YzQuMDE4LDAsOC4wMzctMS4wNCwxMS42MzYtMy4xMTkNCglDMjc0LjgzNyw1MDQuNzI1LDI3OS4yNzMsNDk3LjA0MiwyNzkuMjczLDQ4OC43Mjd6Ii8+DQo8cGF0aCBzdHlsZT0iZmlsbDojRkY1MDIzOyIgZD0iTTY2LjA4OCwxMTkuNDgybDExLjYzNiw2LjcxOGw0OS4wNSwyOC4zMThsMjguNDUsMTYuNDI2bDM1LjI2OS0yMC4zNjJsNTMuODI0LTMxLjA3NQ0KCWMwLjAxNC0wLjAwOCwwLjAzMS0wLjAxNywwLjA0My0wLjAyNWw4OS4xMzgtNTEuNDY0bDExLjYzNi02LjcxOGMwLjQ2NS0wLjI2OCwwLjkzNy0wLjUyLDEuNDE3LTAuNzU0DQoJYzQuMzI3LTIuMTIxLDkuMDM4LTIuNzc3LDEzLjUzNS0yLjEyN2MxLjgyMywwLjI2MiwzLjYyMSwwLjc0Miw1LjM1NiwxLjQzOGMwLjAwNiwwLjAwMiwwLjAxMiwwLjAwNSwwLjAxOSwwLjAwOA0KCWMxLjA2NCwwLjQyNywyLjA5NSwwLjk0MiwzLjA5MiwxLjUyNWMtMC4wNS0wLjAyOS0wLjA5Ni0wLjA2Mi0wLjE0Ni0wLjA5TDI2Ny42MzYsMy4xMTljLTcuMjAxLTQuMTU4LTE2LjA3Mi00LjE1OC0yMy4yNzMsMA0KCUw0Mi44MTYsMTE5LjQ4MkM1MC4wMTUsMTE1LjMyNCw1OC44ODgsMTE1LjMyNCw2Ni4wODgsMTE5LjQ4MnoiLz4NCjxwb2x5Z29uIHN0eWxlPSJmaWxsOiNBRjJFMDg7IiBwb2ludHM9IjE5MC40OTMsMTUwLjU4MiAxNTUuMjI0LDE3MC45NDQgMTU2LjMzNSwxNzAuMzA0ICIvPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPGc+DQo8L2c+DQo8Zz4NCjwvZz4NCjxnPg0KPC9nPg0KPC9zdmc+DQo=');
    background-color: #ffcf8f;
    background-size: 80%;
}

//==============
//BUILDER STATUS
//==============
#dev-tool[data-runtime-status="pending"] .runtime-status {
    background: $grey;
}
#dev-tool[data-runtime-status="done"] .runtime-status {
    background: $green;
}
#dev-tool[data-runtime-status="building"] .runtime-status {
    background: $green;
    animation: blinker 0.75s linear infinite;
}
#dev-tool[data-runtime-status="error"] .runtime-status {
    background: $red;
}

//====
//MASK
//====
#dev-tool[data-runtime-status="building"]:before,
#dev-tool[data-runtime-status="error"]:before {
    opacity: 0.15;
    pointer-events: all;
}
#dev-tool[data-runtime-status="error"]:before {
    background: $redTransparent;
}