@use "sass:color";

* {
    margin: 0;
    padding: 0;
    user-select: none !important;
    outline: none !important;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important;
    -webkit-touch-callout: none !important;
    -webkit-text-size-adjust: none !important;
    font-family: 'Inter';
}

.image {
    opacity: 0;
    transition: all 300ms;
    background-position: 50%;
    background-size: 100%;
    background-repeat: no-repeat;
}

.image[data-displayed="1"] {
    opacity: 1;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.display-none {
    display: none;
}

#app[data-transitions="0"],
#app[data-transitions="0"] *,
#app[data-transitions="0"] *:before,
#app[data-transitions="0"] *:after  {
    transition: none !important;
}